body {
    margin: 0;
    background-color: rgb(20, 20, 20);
}
a {
    text-decoration: none;
}

header {
    background-color: rgb(30, 30, 30);
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1vh;
}
header .space {
    width: 100%;
}
.icon {
    background-color: rgb(50, 50, 50);
    height: 3vh;
    margin-left: 1vh;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.icon span {
    color: white;
    padding-left: 1vh;
    padding-right: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}